<div class="d-flex flex-column">

  <div class="d-flex flex-row">
    <div class="sectionHeader">
      Rules
    </div>
    <div>
      <button class="btn btn-sm btn-success mb-2 ms-5" (click)="add.emit()">Add</button>
    </div>
  </div>


  <table class="table table-sm table-hover">
    <tbody>
      @for (r of rules; track r.id) {
      <tr (click)="select.emit(r)" [class.table-warning]="r.id === selectedId">
        <td>{{r.id}}</td>
        <td>{{r.scope}}</td>
        <td>{{r.target}}</td>
        <td>{{r.priority}}</td>
        <td>{{r.expression}}</td>
      </tr>
      }
    </tbody>
  </table>
</div>